version: '3.8'
services:
  postgres-test:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${DB_URL}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data_test

  redis-test:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data_test

volumes:
  postgres_data:
  redis_data:
